body {
    background-image: url('./imagenes/fondoVH2.jpg');    
    font-family: "Open Sans", serif;    
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

h1 {
    margin: 20px;
    font-family: "Goldman", serif;
    font-size: 3.5em;
    color: #0b1026
}

.switch {
    background-image: url('./imagenes/switch2sombra.png');
    width: 90%;
    height: 80%;
    background-size: cover;
    margin-top: 20px;
}
