body {
    background-image: url('./imagenes/fondoVH2D.jpg');    
    font-family: "Open Sans", serif;    
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
}


.switch {
    background-image: url('./imagenes/switch2sombra.png');
    width: 90%;
    height: 80%;
    background-size: cover;
    margin-top: 10px;
}

.frases{
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}
