body {
    background-image: url('./imagenes/fondoVH2D.jpg');    
    font-family: "Open Sans", serif;    
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

h1 {
    margin: 10px;
    font-family: "Goldman", serif;
    font-size: 3.5em;
    color: #0b1026;
    -webkit-text-stroke: 1px #e9ecef;
}

.switch {
    background-image: url('./imagenes/switch2sombra.png');
    width: 90%;
    height: 80%;
    background-size: cover;
    margin-top: 10px;
}
